*
/* {
    background-color: #293036;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
} */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
a
{
    text-decoration: none;
    color: #F2F6F3;
}
li
{
    list-style: none;
    display: inline;
    margin-right: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    justify-items: center;
    align-items: center;
}
.main-content {
    margin-right: 10%;
    padding: 20px;
    width: 80%;
}
.footer p {
    margin-right: 10%;
    padding: 20px;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.logo{
    padding-left: 20px;
    font-weight: 700; 
    font-size: 22px;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #293036;
  color: #fff;
  

  position: fixed; /* importante */
  right: 0;        /* la porta a destra */
  top: 0;          /* parte dall'alto */
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


footer
{
    background-color: #293036;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}