*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
a
{
    text-decoration: none;
    color: #333;
}
li
{
    list-style: none;
    display: inline;
    margin-right: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    justify-items: center;
    align-items: center;
}
header
{
    background-color: #50b3a2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.sidebar
{
    width: 10%;
    background-color: #50b3a2;
    color: #fff;
    position: fixed;
    
}
/* footer
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
} */