
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a
{
    text-decoration: none;
    color: #F2F6F3;
}
li
{
    list-style: disc; 
    margin-left: 15px;
    padding: 3px;
    font-size: 15px;
    font-weight: bold;
    justify-items: center;
    align-items: center;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 20%;
    flex: 1;
    gap: 20px;
}
.footer p {
    padding: 20px;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.logo{
    padding-left: 20px;
    font-weight: 700; 
    font-size: 22px;
}

.sidebar {
  background-color: #440085;
  color: linear-gradient(45deg, #390F61, #440085);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.menu a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  font-size: clamp(12px, 2.5vw, 18px);
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 1s ease, font-size 1s ease;
}

.menu a:hover {
  background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3, #FF0000);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 1px solid #fff;
  animation: hoverEffect 3s ease-in-out infinite;
  border-radius: 30px;
  font-size: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
}

.footer
{
    background-color: #390F61;
    box-shadow: 5px 5px 10px 2px #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p
{   
    margin: 0;
    animation: textFadeIn 5s linear forwards;
    overflow: hidden;
    white-space: nowrap;
}
.header
{
    background-color: #390F61;
    color: #fff;
    padding: 20px 10px;
    height: 10%;
    align-items: center;
    justify-items: left;
}
.image1
{ 
width: 150px;
height: 150px;
float: right;
padding: 10px;
border-radius: 25px;
} 
.image2
{ 
width: 150px;
height: 150px;
float: left;
padding: 10px;
border-radius: 25px;
} 



@keyframes textFadeIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes hoverEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}